  @import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Libre+Baskerville:wght@700&display=swap');


body, html {
    overflow-x: hidden;
    height: 100%;
  }
  
  .bg {
    background-image: url("bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    overflow-x: hidden;
  }
  
  @font-face {
    font-family: myfont;
    src: url(happy.ttf);
  }
  @font-face {
    font-family: yourfont;
    src: url(fut.ttf);
  }
  
  .papa {
    text-align: center;
  }
  
  .heading {
    color: #fff;
    font-family: myfont;
    font-size: 150px;
    margin: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  
  #What {
    color: #5de1e6;
  }
  
  #if {
    color: #ffa7e4;
  }
  
  .ques {
    color: #ffffff;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffc300;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    line-height: 29px;
    font-size: 20px;
    transition: 0.3s ease-in-out;
  }

  .ques:hover {
    transform: scale(1.03);
    background-color: #ffc300;
    color: black;
    }
  
  .q2 {
    margin-top: 25px;
    display: block;
  }

  @media (max-width: 850px) {
    .heading {
      font-size: 100px;
    }
    .ques {
      font-size: 17px;
    }
    }

    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: black;
    }  

    .EveLogo
    {
      display: block;
      width: 40%;
    }

    .ACM-Logo{
      display: block;
      width: 15%
    }

    .dream{
      width: 13%;
      display: block;
    }

    .last{
      padding-bottom: 5%;
    }

    footer{
      text-align: center;
      display: block;
    }

    footer h2{
      color: white;
      font-family: yourfont;
    }

    footer img{
      width: 22%;
    }

    .lastt{
      padding-bottom: 2.5%;
    }

    .info{
      color: #ffffff;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      font-family: 'League Spartan', sans-serif;
      letter-spacing: 1.5px;
      word-spacing: 2px;
      line-height: 29px;
      font-size: 20px;
      padding-bottom: 10px;
    }

    .infoo{
      color: #ffffff;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      font-family: 'League Spartan', sans-serif;
      letter-spacing: 1.5px;
      word-spacing: 2px;
      line-height: 29px;
      font-size: 19px;
      padding-bottom: 45px;
    }

    @media (max-width: 850px) {
      .info {
        font-size: 17px;
        padding-bottom: 13px;
      }
      .infoo {
        font-size: 17px;
        padding-bottom: 40px;
      }
      
    }